// 颜色
$black=#000000;
$text-color=#555555;
$line-color=#e8eaec;
$red=#d00;
$blue=#1862ab;
$white=#ffffff;
$gray=#999999;
$green=#19be6b;
$orange=#ff9900;

// 背景
$bg-gray=#f8f8f9;

// 通用尺寸；
$distansBig=10px; //大间距
$distansSmall=5px; //小间距
$line-sizeBig=2px;
$line-sizeSmall=1px;
$icon-size=14px;

// 弹性布局，向右移动
.flex 
    display: flex;
    flex-wrap: wrap;

.flex-row-between 
    @extend .flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100%;

.flex-row-center 
    @extend .flex;
    justify-content: center;
    flex-wrap: nowrap;
    min-width 1110px;

.flex-col-between 
    @extend .flex;
    flex-direction: column;
    justify-content: space-between;


.flex-row-around 
    @extend .flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;

