.Content {
    width 100%
    height 100%
    h1:first-child{
        display: none !important
    }
}

.catalog-box {
    width 400px
    position relative 
    overflow hidden
}

.catalog {
    position fixed 
    margin: auto
    height auto
    max-height  700px;
    overflow scroll
    overflow-x: hidden
    padding 1em
    z-index 20
    width 300px
}
    .catalog::-webkit-scrollbar {display:none}

.level1 {
    font-weight bold 
    font-size 1.5em
}

.level2 {
    color #252525 
    font-weight bold 
    font-size 1em
}

.level3 {
    font-size 0.8em 
    padding-left 1em 
    line-height 2em
}