
.catalog {
    margin: 0 20px;
    overflow: auto;
      border-right: 1px solid whitesmoke;

}

.level1{
    font-weight bold
    font-size 1.7em
}
.level2{
    color #252525
    font-weight bold
    font-size 1.2em
}
.level3{
    font-size 0.9em
    margin-left 1em
    line-height 2em
}
